body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.custom-scrollbar {
  height: 400px; /* задайте желаемую высоту */
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* ширина полосы прокрутки */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* цвет заполнения полосы */
  border-radius: 5px; /* закругление углов */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* измененный цвет при наведении */
}

.selected-point-info {
  border: 2px solid #ccc; /* Пример стиля рамки */
  padding: 10px; /* Пример стиля отступа */
  margin-top: 20px; /* Пример стиля отступа сверху */
}

@keyframes blinking {
  0% { opacity: 1;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto }

  .App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

form div {
    margin: 10px;
}

label {
    margin-right: 10px;
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
}

h3 {
    color: #61dafb;
}