.bg {
    background-image: url(imagefonn.jpg) ;
    width: "100%";
    height: "100%";
    background-size: cover;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        
        background-repeat: no-repeat;
  }

  .white {
    color: white;
    
    font-weight: bold;
    font-size: 30px;
    font-family:  serif;
    text-align: right;
    position: relative;
    top: 50px;
    left: 100px;
  }

  .niz {
    color: white;
    
    font-weight: bold;
    font-size: 40px;
    font-family: serif;
    text-align: left;
    position: relative;
    top: -100px;
    right: 90px;
    
  }

  